body {
  padding-top: 50px;
  font-size: 13px;
  font-family: 'Poiret One', cursive;
}
.template {
  padding: 0px 15px;
}
.clear {
  width: 100%;
  clear: both;
}
hr {
  border-color: #000;
}

.navbar-default {
  font-family: 'Cutive Mono', monospace;
  font-size: 19px;
}

.glyphicon {
  cursor: pointer;
}
.navbar-right {
  padding-right: 20px;
}

/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

/* LOGIN PAGE */
.signin a {
    height: 250px;
    line-height: 250px;
    text-align: center;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    margin-top: 25px;
}
.signin:hover a {
    background: #e8f9ff;
}
.signin a {
    display: block;
    font-size: 20px;
}

/* vvv Fonts vvv */

/* ^^^ Fonts ^^^ */